@model WebApplication13.Models.Account
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Account</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartMoney)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartMoney)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StaffAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StaffAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateDateTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDateTime)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
